<div ng-controller="LoginController">
	<div class="content">	
		<div class="form-container col-lg-3 col-md-4">
			<div class="form-header">
				<h4>Log in</h4>
			</div>
			<div class="form-content">
				<form class="login-form" ng-submit="login()">				
					<div class="username-div">
						<input type="text" ng-model="user.name" placeholder="Username/Emai ID" required />		
					</div>
					<div class="password-div">
						<input type="password" ng-model="user.password" placeholder="Password" required />		
					</div>
					<div class="submit-div">
						<button type="submit" class="btn">Log me in!</button>
					</div>
				</form>
			</div>	
		</div>
	</div>

</div>
